body {
    background-color: black;
    text-align: center;
}

@font-face {
    font-family: 'Terminal';
    src: url('assets/Terminal.ttf') format('truetype');
}

html * {
    font-family: 'Terminal';
}

text#textMoney {
    font-size: 20px;
    color: white;
}

span#spnMoneyValue {
    font-size: 20px;
    color: greenyellow;
}

#craftingLine {
    border: 3px solid white;
    border-radius: 20px;
    display: inline-flex;
    padding: 10px;
    margin-top: 20px;
}

.genericSlot {
    display: flex;
    flex-direction: column;
}

.processSlot {
    display: inline;
    width: 170px;
    height: 250px;
    margin: 10px;
    border: 3px solid white;
    border-radius: 15px;
}

.slotName {
    color: white;
}

div.itemPerkRow {
    margin-inline: 10px;
    height: 25px;
    display: flex;
}

p.numThing {
    color: white;
    /* float: left; */
}

p.txtThing {
    color: white;
    width: 100%;
    text-align: right;
}

div.controlButtons {
    margin-top: 15px;
    position: absolute;
    width: 50%;
    height: 50px;
    left: 25%;
    display: flex;
    flex-direction: row;
}

div.controlButtons * {
    width: 20%;
    height: 100%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}